.nav-bar {
	background-color: #cc5490;
	padding: 20px 50px;
	font-size:30px;
	color:white;
	font-weight: bold;
}
.myList {
	font-size: 20px;
	width: 70%;
	float:left;
}
.myList ul {
	list-style: none;
}
.me a {
	text-decoration: none;
	color:black;
}
.row {
	margin:30px 0px;
}
.isDisabled {
	opacity:0.3;
	pointer-events: none;
	transition: 2s;
}
.one-text {
	font-family: "Lato", Helvetica, cursive;
	border: 10px solid pink;
	margin: 30px 0px;
	padding: 10px;
	color:white;
	background-color: #cc5490;
}