<!DOCTYPE html>
<html>
<head>
	<title>Grocery List</title>
</head>
<body ng-app="groceryApp">
	<div ng-controller="groceryCtrl">
		
	<h1>Vera's Grocery List</h1>	
	<p>Item Name: <input ng-model="name"></p>
	<p>Item Quantity: <input ng-model="quantity"></p>
	<button ng-click="addToList()">Add new item to list</button>
	
	<p> <input type="text" ng-model="searchBar" placeholder="search your item"> </p>

	<ol>
		<li ng-repeat="one in mylist | filter:searchBar track by $index">
			{{one.number}} {{one.name}} 	
			<button ng-click="increase(one)">+</button>
			<button ng-click="decrease(one)">-</button>
		</li>
	</ol>
	</div>

	<script src="./angular.js"></script>
	<script src="./grocery.js"></script>
</body>
</html>