<h1></h1>

<div ng-show="msg" class="alert alert-danger row">
	<p>{{msg}}</p>
</div>

<div ng-class="{'isDisabled':isSending}">
	<div class="row">
		<select ng-options="bru as bru.id for bru in brus" ng-model="selectedBru"></select>
	</div>
	<div class="row">
	<input ng-model="newPropsValue"></input>
	</div>
</div>

<div class="row">
	<button ng-click="sendProps()">Send</button>
	<button ng-click="loadData()">Refresh</button>
	<button class="me">
		<a href="#/me">Me</a>
	</button>
</div>

<div class="myList">
	<ul>
		<li ng-repeat="prop in props track by $index">
			<div class="one-text">
				{{prop.receiver.first_name}}
				{{prop.text}}
			</div>
		</li>
	</ul>
</div>